@{
    ViewBag.Title = "О приложении";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<h3><p>Университет:</p></h3>
<h4>Уральский Федеральный университет имени первого Президента России Б.Н. Ельцина</h4>
<h4>Институт новых материалов и технологий</h4>
<h4>Кафедра теплофизики и информатики в металлургии</h4>

<h3><p>Группа:</p></h3>
<h4>НМТ-443907</h4>

<h3><p>Разработчик:</p></h3>
<h4>Мокшин Александр Вячеславович</h4>
