@{
    ViewBag.Title = "Home Page";
}
@*тест*@
<div class="alert alert-success alert-dismissible">
    <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> Indicates a successful or positive action.
</div>
@*энд тест*@
<img src=@Server.MapPath("~/Content/"+"spirin.jpg") class="img-thumbnail" alt="Cinque Terre"> 
<div class="jumbotron">
    
    <p class="lead">Вы вошли как @Environment.UserName</p>
    <p>Вы находитесь в сети @Environment.UserDomainName</p>
    <p><a href="@Url.Action("PickData","Home")" class="btn btn-primary btn-lg">Перейти к расчету ЖРМ &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-6">
        <h2>Последние новости</h2>
        <p>Вышел приказ о увеличении заработной платы в отделе по ИТ</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Читать приказ на сайте &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Происшествия на предприятии</h2>
        <p>Идет 312 день без происшествий. Ура, товарищи</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Правила ТБ от 12.02.2014 &raquo;</a></p>
    </div>
</div>